<div style="height: 100vh;" *ngIf="currentLine$ | async as currentLine">
    <mat-toolbar color="custom">
        <mat-toolbar-row style="height: 80px">
            <mat-form-field style="padding-top: 1.25em">
                <mat-label>Line</mat-label>
                <mat-select (selectionChange)="currentLineIndex.next($event.value)"
                            [value]="currentLineIndex.getValue()"
                            name="line">
                    <mat-option *ngFor="let line of lines$ | async; let index = index" [value]="index">
                        {{line.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span class="example-spacer"></span>
            <div fxShow="true" fxHide.lt-md="true" style="margin-left:70%">
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <button mat-icon-button aria-label="Back icon" (click)="backDate()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <span style="font-size: small">{{date | date:'yyyy-MM-dd'}}</span>
                <button mat-icon-button aria-label="Next icon" (click)="nextDate()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- The following menu items will be shown on both SM and XS screen sizes -->
    <div fxShow="true" fxHide.gt-sm="true">
        <mat-toolbar class="secondary-toolbar">
            <mat-toolbar-row style="justify-content: center; height: 40px;">
                <button mat-icon-button aria-label="Back icon" (click)="backDate()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <span>{{date | date:'yyyy-MM-dd'}}</span>
                <button mat-icon-button aria-label="Next icon" (click)="nextDate()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <mat-tab-group *ngIf="reservations$ | async as reservations">
        <!-- FORWARD -->
        <mat-tab label="Forward">
            <ng-template matTabContent>
                <mat-card>
                    <mat-card-header></mat-card-header>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item *ngFor="let stop of forward; last as isLast">
                                <h3 matLine>
                                    <mat-icon>place</mat-icon>
                                    {{stop.time}} {{stop.name}}
                                </h3>
                                <p matLine
                                   *ngFor="let child of getForwardStopReservations(reservations, stop.id, true); last as isLast"
                                   class="mr-1 pr-1 font-weight-bold text-success"
                                   (click)="toggleStudent(child.reservation)"
                                >

                                    <mat-icon small>check</mat-icon>
                                    {{child.childName}}
                                </p>
                                <p matLine
                                   *ngFor="let child of getForwardStopReservations(reservations, stop.id, false); last as isLast"
                                   class="mr-1 pr-1 font-weight-bold text-danger"
                                   (click)="toggleStudent(child.reservation)"
                                >
                                    <mat-icon small>close</mat-icon>
                                    {{child.childName}}
                                </p>
                                <mat-divider *ngIf="!isLast"></mat-divider>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
                
                <div align="center">
                    <h4> Export JSON File </h4>
                    <button mat-flat-button class="button" (click)="dynamicDownloadJson()">Download</button>
                </div>

            </ng-template>

        </mat-tab>
        <!-- BACKWARD -->
        <mat-tab label="Backward">
            <ng-template matTabContent>
                <mat-card>
                    <mat-card-header></mat-card-header>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item *ngFor="let stop of backward ; last as isLast">
                                <h3 matLine>
                                    <mat-icon>place</mat-icon>
                                    {{stop.time}} {{stop.name}}
                                </h3>
                                <p matLine
                                *ngFor="let child of getBackwardStopReservations(reservations, stop.id, true); last as isLast"
                                class="mr-1 pr-1 font-weight-bold text-success"
                                (click)="toggleStudent(child.reservation)"
                                >
                                    <mat-icon small>check</mat-icon>
                                    {{child.childName}}
                                </p>
                                <p matLine
                                    *ngFor="let child of getBackwardStopReservations(reservations, stop.id, false); last as isLast"
                                    class="mr-1 pr-1 font-weight-bold text-danger"
                                    (click)="toggleStudent(child.reservation)"
                                >
                                    <mat-icon small>close</mat-icon>
                                    {{child.childName}}
                                </p>
                                <mat-divider *ngIf="!isLast"></mat-divider>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
                <div align="center">
                    <h4> Export JSON File </h4>
                    <button mat-flat-button class="button" (click)="dynamicDownloadJson()">Download</button>
                </div>
            </ng-template>

        </mat-tab>
    </mat-tab-group>


</div>
