.form-container {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
  }
.mat-form-field {
  margin: 0.7em;
}
  .form-container > * {
    width: 100%;
  }

  .mat-toolbar.mat-custom {
    background: #f8d6b9;
    color: #121a20;
  }

  .text-success{
    -webkit-text-fill-color: green;
  }

  .text-danger{
    -webkit-text-fill-color: red;
  }

  .button {
    background-color: #121A20;
    border: none;
    color: #f8d6b9;/*#F7F7F7;*/
    padding: 4px 12px;
    text-align: center;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 120px;
    border-radius: 50px;
  }
  
  .button:hover {opacity: 0.6}

