.bgimg {
    padding: 1px 0 0 0;
    margin: -1px auto 0 auto;
    background-repeat: no-repeat;
    background-image: url(../../assets/img/home1.png);
    background-size: cover;
    background-position:center fixed; 
    height: 100%;
    width: 100%;
}

.hometitle {
    text-align: center;
    margin-top: 15%;
    font-size: 30px;
}

.button {
    background-color: #F7F7F7;
    border: none;
    color: #121A20;
    padding: 4px 12px;
    text-align: center;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 120px;
    border-radius: 50px;
  }
  
  .button:hover {opacity: 0.6}