<div class="bgimg">
    <div class="hometitle">
        <img src="assets/img/logo.png" style="height: 200px; margin-bottom: 3%;">
        <!--h1>Welcome to</h1>
        <h1>Pedibus</h1-->
        <br>
        <a *ngIf="!auth.isAuthenticated()" routerLink="/register"><button class="button" mat-flat-button><h3>Sign Up</h3></button></a>
        <a *ngIf="!auth.isAuthenticated()" routerLink="/login"><button class="button" mat-flat-button><h3>Login</h3></button></a>
    </div>
</div>
