<div style="height: 100vh;">
  <mat-card>
    <mat-card-content>
      <mat-list>
        <div *ngIf="filtersLoaded | async">
          <div *ngIf="newMessage.length>0">
            <h4 style="font-size: large" mat-subheader>To read: </h4>
            <mat-list-item *ngFor="let folder of newMessage; last as last">
              <!--  <mat-icon mat-list-icon *ngIf="folder.sender=='System'">system_update_alt</mat-icon>
                <mat-icon mat-list-icon *ngIf="folder.sender=='Work'">work</mat-icon> -->

              <!--<h4 mat-line>{{folder.object}}</h4>-->
              <p mat-line class="demo-2" style="font-size: small"> Sender:    {{folder.sender}} </p>
              <p mat-line class="demo-2"style="font-size: medium"> {{folder.body}} </p>
              <p mat-line class="demo-2" style="font-size: small">{{folder.date.toString().substring(0,16)}} </p>


              <mat-checkbox (change)="checkNew(folder)"></mat-checkbox>

              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>

            <p align="right">
              <button mat-icon-button aria-label="Cancel" (click)="deleteNew()">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button aria-label="Applica" (click)="readNew()">
                <mat-icon>done</mat-icon>
              </button>
            </p>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
          </div>

          <div *ngIf="readed.length>0">
            <h3 mat-subheader style="font-size: large">Read: </h3>
            <mat-list-item *ngFor="let note of readed; last as last">
              <!-- <mat-icon mat-list-icon *ngIf="note.sender=='System'">system_update_alt</mat-icon>
               <mat-icon mat-list-icon *ngIf="note.sender=='Work'">work</mat-icon> -->
              <!--<h4 mat-line>{{folder.object}}</h4>-->
              <p mat-line class="demo-2" style="font-size: small">Sender:   {{note.sender}}   </p>

              <p mat-line class="demo-2" style="font-size: medium"> {{note.body}} </p>
              <p mat-line class="demo-2" style="font-size: small">{{note.date.toString().substring(0,16)}} </p>

              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>

              <mat-checkbox (change)="checkReaded(note)"></mat-checkbox>
            </mat-list-item>
            <p align="right">
              <button mat-icon-button aria-label="Cancel" (click)="deleteReaded()">
                <mat-icon>delete</mat-icon>
              </button>
            </p>
          </div>
        </div>

      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
