<div style="height: 100vh;">
  <div *ngIf="users$ | async as users">
    <mat-card *ngIf="users.length>0">
      <mat-card-content>
        <mat-list><h3 mat-subheader>List of users</h3></mat-list>

        <mat-list *ngFor="let user of users; last as isLast">
          <mat-list-item>
            <h3 matLine class="active">
              {{user.firstName}}
            </h3>
            <mat-slide-toggle
              [checked]="isAdmin(user.role)"
              class="example-margin"
              (toggleChange)="changed(user.id, user.email, user.role)">
            </mat-slide-toggle>
          </mat-list-item>
          <mat-divider></mat-divider>

        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>


</div>
