<form class="form-container form-margin" [formGroup]="loginForm" (ngSubmit)='submit(loginForm.value)'>
  <!-- TODO - Add errors -->
  <!-- TODO - Add CSS classes -->

  <mat-form-field>
    <input matInput placeholder="Enter your email" formControlName="email" required autocomplete="username">
    <mat-error *ngFor="let validation of validationMessages.email">
      <mat-error *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter your password" formControlName="password" type="password" required autocomplete="current-password">
    <mat-error *ngFor="let validation of validationMessages.password">
      <mat-error *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <div class="row"  *ngIf="errMsg">
    <div class="col-xs-12">
      <p class="text-danger">Retry please. Wrong email or password.</p>
    </div>
  </div>

  <div class="form-element" align="center">
    <button mat-raised-button type="submit" class="button" [disabled]="!loginForm.valid">Submit</button>
  </div>



</form>
