<div style="height: 100vh;" *ngIf="currentLine$ | async as currentLine">
  <mat-toolbar color="custom">
    <mat-toolbar-row style="height: 80px">
      <mat-form-field style="padding-top: 1.25em">
        <mat-select (selectionChange)="currentLineIndex.next($event.value)"
                    [value]="currentLineIndex.getValue()"
                    name="line">
          <mat-option *ngFor="let line of lines$ | async; let index = index" [value]="index">
            {{line.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-form-field style="padding-top: 1.25em">
          <mat-label>Date</mat-label>

          <input matInput [matDatepicker]="picker" [formControl]="date"
                 (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="availabilities$ | async as availabilities">
    <mat-card *ngIf="availabilities.length>0">
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let availability of availabilities; last as isLast">
            <h3 matLine>
              {{availability.user}}
            </h3>
            <!-- <button mat-icon-button aria-label="Cancel" (click)="clickDeleteAvailability(availability.id)">
               <mat-icon>cancel</mat-icon>
             </button>-->
            <button mat-icon-button aria-label="Cancel" (click)="deleteAvailability(availability)">
              <mat-icon>cancel</mat-icon>
            </button>
            <div *ngIf="!availability.approved">

              <button mat-icon-button aria-label="Applica" (click)="approvedAvailability(availability)">
                <mat-icon>done</mat-icon>
              </button>
            </div>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--
  <br>
  <h3 align = "center">Select a companion</h3>
  <table mat-table [dataSource]="dataSource" align="center" class="mat-elevation-z8" >

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  <p align="center">
    <button mat-icon-button aria-label="Cancel">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button aria-label="Applica">
      <mat-icon>done</mat-icon>
    </button>
  </p>
</div>
-->
