.form-container {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}
.mat-form-field  {
  margin: 0.7em;
}
table {
  width: 20%;
}

.body {
  background-color: tomato;
  margin: 20px;
  padding: 20px;
  font-weight: normal;
}
