  <div style="height: 100vh;" *ngIf="currentUser$ | async as currentUser">
  <mat-toolbar color="custom">
      <mat-toolbar-row style="height: 80px">
          <mat-form-field style="padding-top: 1.25em">
              <mat-label>Child</mat-label>
              <mat-select (selectionChange)="currentChildIndex.next($event.value)"
                          [value]="currentChildIndex.getValue()"
                          name="child">
                  <mat-option *ngFor="let child of childs$ | async; let index = index" [value]="index">
                      {{child.firstName + " " + child.lastName}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </mat-toolbar-row>
  </mat-toolbar>

  <!-- CHECKBOX TABLE FORM -->
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="currentUser$ | async as currentUser">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Line Column -->
      <ng-container matColumnDef="line">
        <th mat-header-cell *matHeaderCellDef> Line </th>
        <td mat-cell *matCellDef="let element"> {{element.line}} </td>
      </ng-container>

      <!-- Stop Column -->
      <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef> Departure </th>
        <td mat-cell *matCellDef="let element"> {{element.departure.name}} </td>
      </ng-container>

      <!-- Direction Column -->
      <ng-container matColumnDef="arrival">
        <th mat-header-cell *matHeaderCellDef> Arrival </th>
        <td mat-cell *matCellDef="let element"> {{element.arrival.name}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  
    <br>

    <div align="center">
      <button mat-flat-button class="button" (click)="call()">Delete</button>
    </div>

  <!--{{ selection.selected | json }} -->

</div>
