table {
    width: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
  }
  
  .form-container>* {
    /*width: 100%;*/
    margin-left: 10%;
    margin-right: 10%;
  }

  .container-bg {
    background-color: #f8d6b9;
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 50px;
  }

.margin-right {
    margin-right: 2%;
  }

  .button {
    background-color: #121A20;
    border: none;
    color: #f8d6b9;/*#F7F7F7;*/
    padding: 4px 12px;
    text-align: center;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 120px;
    border-radius: 50px;
  }
  
  .button:hover {opacity: 0.6}

  .text-color {
    color: #f8d6b9 !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #f8d6b9;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #f8d6b9;
}