.toolbar-spacer {
  flex: 1 1 auto;
}

.secondary-toolbar {
  font-size: small;
  min-height: 40px;
}

.docs-angular-logo {
  height: 45px;
  margin-top: 15%
}

.mat-toolbar.mat-color {
  background: #121a20;
  color: #f7f7f7;
}

.mat-drawer-color {
  background-color: #121a20d0;
  color: rgba(0, 0, 0, .87);
}

.mat-list-item-color {
  color: #f7f7f7;
}
