<div style="height: 100vh;">
  <mat-toolbar color="color" class="mat-elevation-z6">
    <mat-toolbar-row class="mat-height">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/"><img class="docs-angular-logo" src="assets/img/logo.png" style="margin-left:10px"></a>
      <span class="toolbar-spacer"></span>

      <!-- Large screen -->
      <div fxShow="true" fxHide.lt-md>
        <a *ngIf="auth.isAuthenticated() && auth.isAdmin()" routerLink="reservation" class="menu-link" mat-button>
          <!--mat-icon>person_pin</mat-icon--> Reservations
        </a>
        <a *ngIf="auth.isAuthenticated()" routerLink="user-booking" class="menu-link" mat-button>
            <!--mat-icon>person_pin</mat-icon--> Prenota
        </a>
        <a *ngIf="auth.isAuthenticated() && auth.isAdmin()" routerLink="select-admin" class="menu-link" mat-button>
          <!--mat-icon>person_pin</mat-icon--> Admins
        </a>
        <a *ngIf="auth.isAuthenticated() && auth.isAdmin()" routerLink="select-companion" class="menu-link" mat-button>
          <!--mat-icon>person_pin</mat-icon--> Companions
        </a>
        <a *ngIf="auth.isAuthenticated()" routerLink="parent-availability" class="menu-link" mat-button>
          <!--mat-icon>person_pin</mat-icon--> Availabilities
        </a>
        <a *ngIf="auth.isAuthenticated()" routerLink="user-dashboard" class="menu-link" mat-button>
          <!--mat-icon>person_pin</mat-icon--> Dashboard
        </a>
        <a *ngIf="auth.isAuthenticated()" routerLink="messages" class="menu-link" mat-button>
           Alert
        </a>
        <a *ngIf="auth.isAuthenticated()" (click)='auth.logout()' routerLink="" class="menu-link" mat-button>
          <mat-icon>exit_to_app</mat-icon> Logout
        </a>
        <a *ngIf="!auth.isAuthenticated()" routerLink="register" class="menu-link" mat-button>
          <mat-icon>person_add</mat-icon> Register
        </a>
        <a *ngIf="!auth.isAuthenticated()" routerLink="login" class="menu-link" mat-button>
          <mat-icon>person</mat-icon> Login
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Small screen -->
  
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav class="mat-drawer-color">
      <mat-nav-list>
        <a *ngIf="auth.isAuthenticated() && auth.isAdmin()" routerLink="reservation" class="mat-list-item-color" mat-list-item>
           Reservations
        </a>
        <a *ngIf="auth.isAuthenticated()" routerLink="user-booking" class="mat-list-item-color" mat-list-item>
           Prenota
        </a>
        <a *ngIf="auth.isAuthenticated() && auth.isAdmin()" routerLink="select-admin" class="mat-list-item-color" mat-list-item>
           Admins
        </a>
        <a *ngIf="auth.isAuthenticated() && auth.isAdmin()" routerLink="select-companion" class="mat-list-item-color" mat-list-item>
           Companions
        </a>
        <a *ngIf="auth.isAuthenticated()" routerLink="parent-availability" class="mat-list-item-color" mat-list-item>
           Availabilities
        </a>
        <a *ngIf="auth.isAuthenticated()" (click)='logout()' routerLink="" class="mat-list-item-color" mat-list-item>
          <mat-icon>exit_to_app</mat-icon> Logout
        </a>
        <a *ngIf="!auth.isAuthenticated()" routerLink="register" class="mat-list-item-color" mat-list-item>
          <mat-icon>person_add</mat-icon> Register
        </a>
        <a *ngIf="!auth.isAuthenticated()" routerLink="login" class="mat-list-item-color" mat-list-item >
          <mat-icon>person</mat-icon> Login
        </a>
        <a (click)="sidenav.toggle()" class="mat-list-item-color" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <!-- Page Content -->
      <router-outlet>

      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
