.form-container {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.form-container>* {
  /*width: 100%;*/
  margin-left: 10%;
  margin-right: 10%;
}

.form-container-child>* {
  /*margin-left: 10%;
  margin-right: 10%;*/
  width: 40%;
}

.form-submit-button {
  margin: 8px 0px;
}

.form-element {
  margin-top: 8px;
}

.margin-left {
  margin-left: 2%;
}

.error-hint {
  color: #f44336;
}

.mat-icon {
  font-size: 30px;
}

.add-icon {
  margin-left: 50%;
}

.button {
  background-color: #121A20;
  border: none;
  color: #f8d6b9;/*#F7F7F7;*/
  padding: 4px 12px;
  text-align: center;
  font-size: 16px;
  margin-left: 2%;
  margin-right: 2%;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 120px;
  border-radius: 50px;
}

.button:hover {opacity: 0.6}

.bordered {
  width: 80%;
  margin-top: 1% ;
  margin-bottom: 1% ;
  padding-top: 1%;
  padding-bottom: 3%;
  border: 3px solid #f8d6b9;
  border-radius: 50px;
}

