<form class="form-container" [formGroup]="registerForm" (ngSubmit)='submit(registerForm.value)'
  appPasswordMatchValidator>
  <!-- TODO - Add errors -->
  <!-- TODO - Add CSS classes -->
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" formControlName="email" required autocomplete="username email">
    <mat-error *ngFor="let validation of validationMessages.email">
      <mat-error
        *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
        {{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput placeholder="Enter your first name" formControlName="firstName" required>
    <mat-error *ngFor="let validation of validationMessages.firstName">
      <mat-error
        *ngIf="registerForm.get('firstName').hasError(validation.type) && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)">
        {{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput placeholder="Enter your last name" formControlName="lastName" required>
    <mat-error *ngFor="let validation of validationMessages.lastName">
      <mat-error
        *ngIf="registerForm.get('lastName').hasError(validation.type) && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)">
        {{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" formControlName="password" type="password" required
      autocomplete="new-password">
    <mat-error *ngFor="let validation of validationMessages.password">
      <mat-error
        *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
        {{validation.message}}</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password confirm</mat-label>
    <input matInput placeholder="Confirm your password" formControlName="passwordConfirm" type="password" required>
    <mat-hint *ngIf="registerForm.errors?.passwordMismatch && (registerForm.touched || registerForm.dirty)"
      class="error-hint">Passwords must match</mat-hint>
  </mat-form-field>

  <ng-container *ngFor="let childFormGroup of registerForm.controls.childs.controls; let i = index">
    <div class="bordered" align="center">
      <form class="form-container-child" [formGroup]="childFormGroup">
        <div>
          <h3>CHILD {{i+1}}</h3>
        </div>
        <mat-form-field class="margin-left">
          <mat-label>Child First name</mat-label>
          <input matInput placeholder="Enter your child's first name" formControlName="firstName" required>
          <mat-error *ngFor="let validation of validationMessages.firstName">
            <mat-error
              *ngIf="registerForm.get('firstName').hasError(validation.type) && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="margin-left">
          <mat-label>Child Last name</mat-label>
          <input matInput placeholder="Enter your child's last name" formControlName="lastName" required>
          <mat-error *ngFor="let validation of validationMessages.lastName">
            <mat-error
              *ngIf="registerForm.get('lastName').hasError(validation.type) && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="margin-left">
          <mat-label>Child BirthDate</mat-label>
          <input matInput type="date" placeholder="Enter your child's BirthDate" formControlName="birthDate" required>
          <mat-error *ngFor="let validation of validationMessages.bithDate">
            <mat-error
              *ngIf="registerForm.get('birthDate').hasError(validation.type) && (registerForm.get('birthDate').dirty || registerForm.get('birthDate').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-label *ngIf="i!=0">
          <button (click)="removeChildFormControl(i)" [disabled]="i==0" class="button" mat-button>
            <!--mat-icon>remove_circle_outline</mat-icon-->Remove
          </button>
        </mat-label>

        <mat-label style="display: block">
          <button (click)="addChildFormControl()" mat-button>
            <mat-icon style="font-size: 50px;">add_circle_outline</mat-icon>
          </button>
        </mat-label>

      </form>
    </div>
  </ng-container>

<div style="margin-top: 3%;">
  <mat-checkbox formControlName="privacyTerms">
    Accept privacy terms and conditions
    <mat-error *ngFor="let validation of validationMessages.privacyTerms">
      <mat-error
        *ngIf="registerForm.get('privacyTerms').hasError(validation.type) && (registerForm.touched || registerForm.dirty)">
        {{validation.message}}</mat-error>
    </mat-error>
  </mat-checkbox>
</div>

  <div class="form-element" align="center">
    <button mat-raised-button type="submit" class="button form-submit-button"
      [disabled]="!registerForm.valid">Submit</button>
  </div>
</form>
