/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.app-body {
    margin: 0;
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}
