<div style="height: 100vh;" *ngIf="currentLine$ | async as currentLine">

    <mat-toolbar color="custom">
        <mat-toolbar-row style="height: 80px">
            <mat-form-field style="padding-top: 1.25em">
                <mat-label>Line</mat-label>
                <mat-select (selectionChange)="currentLineIndex.next($event.value)"
                            [value]="currentLineIndex.getValue()"
                            name="line">
                    <mat-option *ngFor="let line of lines$ | async; let index = index" [value]="index">
                        {{line.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- FORM -->
    <mat-tab-group *ngIf="currentLine$ | async as currentLine">
        <!-- FORWARD -->
        <mat-tab label="Forward">
            <ng-template matTabContent>
                <div align="center">

                    <h4> Insert a new reservation</h4>
                    <form class="form-container" [formGroup]="bookingForm" (ngSubmit)='insertReservation(currentLine.id, "FORWARD", currentLine, bookingForm.value)'>
                        
                        
                        <mat-form-field *ngIf="childs" class="margin-right">
                            <mat-label>Select a child</mat-label>
                            <mat-select formControlName="child" class="text-color margin-right">
                                <mat-option *ngFor="let child of childs" [value]="child.id">
                                    {{child.firstName + " " + child.lastName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="margin-right text-color">
                            <mat-label>Select a departure stop</mat-label>
                            <mat-select formControlName="stopDeparture">
                                <mat-option *ngFor="let stop of forward" [value]="stop.id">
                                    {{stop.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="margin-left">
                            <mat-label>Select Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Enter reservation date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <div style="display: block">
                            <button mat-flat-button class="button" [disabled]="!bookingForm.valid">Insert
                            </button>
                        </div>
                    </form>

                </div>
            </ng-template> 
        </mat-tab> 

        <!-- BACKWARD -->
        <mat-tab label="Backward">
            <ng-template matTabContent>
                <div align="center">

                    <h4> Insert a new reservation</h4>
                    <form class="form-container" [formGroup]="bookingForm" (ngSubmit)='insertReservation(currentLine.id, "BACKWARD", currentLine, bookingForm.value)'>
                        
                        
                        <mat-form-field *ngIf="childs" class="margin-right">
                            <mat-label>Select a child</mat-label>
                            <mat-select formControlName="child" class="text-color margin-right">
                                <mat-option *ngFor="let child of childs" [value]="child.id">
                                    {{child.firstName + " " + child.lastName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="margin-right text-color">
                            <mat-label>Select a arrival stop</mat-label>
                            <mat-select formControlName="stopArrival">
                                <mat-option *ngFor="let stop of backward" [value]="stop.id">
                                    {{stop.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="margin-left">
                            <mat-label>Select Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Enter reservation date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <div style="display: block">
                            <button mat-flat-button class="button" [disabled]="!bookingForm.valid">Insert
                            </button>
                        </div>
                    </form>

                </div>
            </ng-template> 
        </mat-tab> 
        
    </mat-tab-group>      
</div>
    