<div style="height: 100vh;" *ngIf="currentLine$ | async as currentLine">
  <mat-toolbar color="custom">
    <mat-toolbar-row style="height: 80px">
      <mat-form-field style="padding-top: 1.25em">
        <input matInput [matDatepicker]="picker" [formControl]="date"
               (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="padding-top: 1.25em">
        <mat-label>Line</mat-label>
        <mat-select (selectionChange)="currentLineIndex.next($event.value)"
                    [value]="currentLineIndex.getValue()"
                    name="line">
          <mat-option *ngFor="let line of lines$ | async; let index = index" [value]="index">
            {{line.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div style="display: block">
        <button mat-flat-button class="button" (click)="addAvailability()">Insert
        </button>
      </div>
      <div fxShow="true" fxHide.lt-md="true" class="example-spacer" style="margin-left:40%">
        <button mat-icon-button aria-label="Back icon" (click)="backDate()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span style="font-size: small">{{dateAvailabilities | date:'yyyy-MM-dd'}}</span>
        <button mat-icon-button aria-label="Next icon" (click)="nextDate()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- The following menu items will be shown on both SM and XS screen sizes -->
  <div fxShow="true" fxHide.gt-sm="true">
    <mat-toolbar class="secondary-toolbar">
        <mat-toolbar-row style="justify-content: center; height: 40px;">
            <button mat-icon-button aria-label="Back icon" (click)="backDate()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <span style="font-size: small">{{dateAvailabilities | date:'yyyy-MM-dd'}}</span>
            <button mat-icon-button aria-label="Next icon" (click)="nextDate()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div *ngIf="availabilities$ | async as availabilities">
    <mat-card *ngIf="availabilities.length>0">
      <mat-card-content>
        <mat-list><h3 mat-subheader>Approved</h3></mat-list>

        <mat-list *ngFor="let availability of availabilities; last as isLast">

          <mat-list-item *ngIf="availability.approved == true">
            <h3 matLine class="active">
              {{lines[availability.line - 1].name}}
            </h3>

          </mat-list-item>

        </mat-list>
        <mat-divider></mat-divider>
        <mat-list><h3 mat-subheader>Not approved</h3></mat-list>

        <mat-list *ngFor="let availability of availabilities; last as isLast">

          <mat-list-item *ngIf="availability.approved == false">
            <h3 matLine>
              {{lines[availability.line - 1].name}}
            </h3>
            <button mat-icon-button aria-label="Cancel" (click)="clickDeleteAvailability(availability.id)">
              <mat-icon>cancel</mat-icon>
            </button>
            <mat-divider *ngIf="!isLast"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
